*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", "Roboto", sans-serif;
    text-align:center;
    font-size: 15px;
    line-height: 17px;
    min-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
