{
  "plugins": [
    "stylelint-order",
  ],

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "order/properties-order": [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "float",
      "flex-direction",
      "flex-wrap",
      "justify-content",
      "align-content",
      "align-items",
      "align-self",
      "flex",
      "flex-grow",
      "flex-shrink",
      "width",
      "min-width",
      "height",
      "min-height",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "font",
      "font-style",
      "font-weight",
      "font-size",
      "line-height",
      "font-family",
      "text-align",
      "color",
      "background",
      "background-color",
      "background-image",
      "background-position",
      "background-repeat",
      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-radius",
      "opacity",
      "transition",
    ],
  }
}