.main-header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.main-header__wrapper {
    display: flex;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 20px;
}

.main-header__logo-wrapper {
    margin-right: 94px;
    margin-left: 100px;
}

.main-nav__list {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.main-nav__item {
    display: inline-block;
    list-style: none;
    padding-right: 30px;
}

.main-nav__item:last-child {
    padding-right: 0px;
}

.main-nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FCFCFC;
    text-decoration: none;
}

.main-nav__controls {
    margin-left: auto;
    margin-right: 100px;
}

.main-nav__controls-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav__link--phone {
    margin-right: 43px;
}

.main-nav__control {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: rgba(252, 252, 252, 0.4);
}

.main-nav__control--search {
    background-image: url("../images/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.main-nav__control--account {
    background-image: url("../images/account.svg");
    background-position: center;
    background-repeat: no-repeat;
}